
<html>
<head>
    <title>Show credentials</title>
    <!-- <link rel="stylesheet" href="final-dashboard.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='final-dashboard.css') }}">
 
</head>
<body>
    <!-- <form action="/" method="post" class="username-form">
        <label for="username">UserName</label>
    </form> -->
 
    <div class="container">
        <div class="actions">
            <h2>Actions</h2>
            <button onclick="showContent('myCluster')">Create Cluster</button>
            <button onclick="showContent('myCluster')">My Cluster</button>
            <button onclick="showAWSCredentials()">Credential Details</button>
 
            <button onclick="showContent('clusterCreationStatus')">Cluster Creation Status</button>
            <button onclick="showContent('myCluster')">Cost Optimisation</button>
        </div>
        <div class="azure-credentials">
            <h1>account names:</h1>
        <ul>
            {% for cluster in accounts %}
                <li>{{ cluster }}</li>
            {% endfor %}
        </ul>
        <form id="azureform" action="/get_credential" method="post" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="account_name">Account name:</label>
                <input type="text" class="form-control"  name="account_name" required>
            </div>
            
       
    
            <button type="submit" class="btn btn-custom-light-blue">Submit</button>

        </form>
        <h1>{{ message }}</h1>
            <h1>Credential</h1>
            <p>Client ID: {{ client_id }}</p>
            <p>Client Secret: {{ client_secret }}</p>
            <p>Subscription ID: {{ subscription_id }}</p>
            <p>Tenant ID: {{ tenant_id }}</p>
            <a href="/azure1" class="btn btn-custom-light-blue cloud-button">Update</a>
            <a href="/azure" class="btn btn-custom-light-blue cloud-button">add</a>
            <a href="/azure2" class="btn btn-custom-light-blue cloud-button">delete</a>
        </div>

 
</body>
</html>
 
